
@{
    ViewBag.Title = "Index";
}
<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Repasos</h2>
    </div>
</div>

<!-- stats-bottom -->
<div class="stats-bottom contact">
    <div class="container">
        @*<h3 class="w3l_header w3_agileits_header">Titulo <span>Del Servicio</span></h3>*@
        <div class="agileinfo_services_grids">
            <div class="col-md-12 agileinfo_services_grid">
                <div class="agileinfo_services_grid1">
                    <p>A días de tu pasito o parcial y sin saber a qué santo encomendarte, no te preocupes más con nuestros esquemas y resúmenes tienes asegurado el parcial.</p>
                    <div class="agileinfo_services_grid1_pos">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="stats-bottom contact">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">Proximamente <span>Más Información</span></h3>
    </div>
</div>
<!-- //stats-bottom -->