
@{
    ViewBag.Title = "Index";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/css/swipebox.css">
}

@section scripts
{
    <script src="~/Scripts/jquery.swipebox.min.js"></script> 
    <script type="text/javascript">
        jQuery(function($) {
            $(".swipebox").swipebox();
        });
    </script>
}

<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Galería</h2>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">Nuestras <span>Fotos</span></h3>
        <div class="inner_w3l_agile_grids-gal">
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_1.jpg" class="swipebox"><img src="~/Content/galeria/foto_1.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_2.jpg" class="swipebox"><img src="~/Content/galeria/foto_2.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>

                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_5.jpg" class="swipebox"><img src="~/Content/galeria/foto_5.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_6.jpg" class="swipebox"><img src="~/Content/galeria/foto_6.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_7.jpg" class="swipebox"><img src="~/Content/galeria/foto_7.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_8.jpg" class="swipebox"><img src="~/Content/galeria/foto_8.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_9.jpg" class="swipebox"><img src="~/Content/galeria/foto_9.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div><div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_3.jpg" class="swipebox">
                    <img src="~/Content/galeria/foto_3.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>

                    </div>
                </a>
            </div>

            <div class="col-md-4 gallery-grid gallery1">
                <a href="~/Content/galeria/foto_4.jpg" class="swipebox"><img src="~/Content/galeria/foto_4.jpg" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Ciencias Medic</h4>
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
							
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>	
</div>	
<!--//gallery-->

