@{
    ViewBag.Title = "Principal";
}
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="w3layouts-banner-top">

                    <div class="container">
                        <div class="agileits-banner-info">
                            <h3>Bienvenido a ciencias medic</h3>
                            <p>4 años de experiencia brindando la mejor preparación a estudiantes de medicina y médicos a nivel nacional</p>
                            <br />
                            <a class="btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal2">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="container">
                        <div class="agileits-banner-info">
                            <h3>La mejor metodología de toda la región</h3>
                            <br />
                            <a class="btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal2">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="container">
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="container">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- //banner -->	
@Html.Partial("_Registrar")
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <h5>Mastering</h5>
                    <img src="~/Content/images/2.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        e.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->

@*<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <h3>Join <span class="fixed_w3"> Mastering</span> today to start discovering thousand of content with minimum <span class="fixed_w3"> effort and cost! </span></h3>
        <div class="agileits_banner_bottom_grids">
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/images/1.jpg" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h4>Mastering</h4>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/images/2.jpg" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h4>Mastering</h4>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/images/3.jpg" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h4>Mastering</h4>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/images/4.jpg" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h4>Mastering</h4>
                        <p>Education</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="team-w3ls-row">
            <h3 class="w3l_header w3_agileits_header">Our <span>Insrtuctors</span></h3>
            <div class="agileits_banner_bottom_grids">
                <div class="col-md-3 col-sm-6 team-grids">
                    <img src="~/Content/images/t1.jpg" alt="" />
                    <div class="img-caption w3-agileits">
                        <div class="img-agileinfo-text">
                            <h4>Alan Ipsum</h4>
                            <p>English Instructor</p>
                            <div class="w3social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team-grids">
                    <img src="~/Content/images/t2.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-agileinfo-text">
                            <h4>Lana del Rey</h4>
                            <p>PHP Instructor </p>
                            <div class="w3social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team-grids">
                    <img src="~/Content/images/t3.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-agileinfo-text">
                            <h4>Mark John</h4>
                            <p>English Instructor</p>
                            <div class="w3social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team-grids">
                    <img src="~/Content/images/t4.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-agileinfo-text">
                            <h4>Peter Parker</h4>
                            <p>PHP Instructor</p>
                            <div class="w3social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
</div>
<!-- //banner-bottom -->*@

<!-- services -->
<div class="services">
    <div class="container">
        <div class="col-md-12">
            <div class="img_wthee_post1">
                <div class="clock_margin">
                    <div class="clock_message clock" style="display: none;"></div>
                    <div class="message" style="display: none;"></div>
                    <br/>
                    <br/>
                    <br/>
                    <h3 class="clock_texto w3l_header w3_agileits_header two">YA INICIAMOS CLASES ESTE JUEVES 04 DE ENERO</h3>
                    <br />
                    <br />
                    <br />
                    <a class="clock_boton btn-primary btn-lg" href="@Url.Action("Index","Contacto")">Inscribirse</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services" id="services">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header two">Conócenos</h3>
        <div class="agile_inner_w3ls-grids two">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t-zJLE0d3Wo"></iframe>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->

@*<!-- blog -->
<div class="blog" id="blog">
    <div class="container">

        <h3 class="w3l_header w3_agileits_header"> Latest <span>  News</span></h3>
        <div class="agile_inner_w3ls-grids">

            <div class="col-sm-6 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img1">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <ul>
                            <li><i class="fa fa-comments" aria-hidden="true"></i> 05</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i> 874</li>
                            <li><i class="fa fa-share" aria-hidden="true"></i> Share</li>
                        </ul>
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Quisque a rhoncus</a></h4>
                    <ul>
                        <li>By <a href="#">Admin</a></li>
                        <li>Jan 28th,2017</li>
                    </ul>
                    <p>Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.</p>
                </div>
            </div>
            <div class="col-sm-6 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img2">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <ul>
                            <li><i class="fa fa-comments" aria-hidden="true"></i> 21</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i> 287</li>
                            <li><i class="fa fa-share" aria-hidden="true"></i> Share</li>
                        </ul>
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Quisque a rhoncus</a></h4>
                    <ul>
                        <li>By <a href="#">Admin</a></li>
                        <li>Feb 24th,2017</li>
                    </ul>
                    <p>Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //blog -->*@

@*<!-- stats -->
<div class="stats" id="stats">
    <div class="container">
        <div class="inner_w3l_agile_grids">
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <p class="counter">45</p>
                <h3>Courses</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
                <p class="counter">165</p>
                <h3>Members</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <p class="counter">563</p>
                <h3>Awards</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p class="counter">245</p>
                <h3>Instructors</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //stats -->*@

@*<!-- testimonials -->
<div class="testimonials">
    <div class="col-md-6 w3layouts_event_left">
        <img src="~/Content/images/test.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 w3layouts_event_right">
        <h3>what people says</h3>
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3_event_right_grid">
                            <div class="w3layouts_event_right_para">
                                <p>
                                    Nam tempus lobortis sem non ornare. Curabitur dignissim interdum sem, et mollis lorem.
                                    Mauris hendrerit, mi in aliquet egestas, nisi mi vestibulum turpis.
                                </p>
                                <div class="w3layouts_event_right_para_pos">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="w3_agile_event_right_grids">
                                <div class="col-xs-4 w3_agile_event_right_grid_left">
                                    <img src="~/Content/images/test1.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="col-xs-8 w3_agile_event_right_grid_right">
                                    <h4>Williams Stall</h4>
                                    <p>Graphic & web designer</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3_event_right_grid">
                            <div class="w3layouts_event_right_para">
                                <p>
                                    Nam tempus lobortis sem non ornare. Curabitur dignissim interdum sem, et mollis lorem.
                                    Mauris hendrerit, mi in aliquet egestas, nisi mi vestibulum turpis.
                                </p>
                                <div class="w3layouts_event_right_para_pos">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="w3_agile_event_right_grids">
                                <div class="col-xs-4 w3_agile_event_right_grid_left">
                                    <img src="~/Content/images/test2.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="col-xs-8 w3_agile_event_right_grid_right">
                                    <h4>Catherine Mark</h4>
                                    <p>PHP & web developer</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //testimonials -->*@

