@{
    ViewBag.Title = "Index";
}
<div class="banner1">	
    <div class="w3_agileits_service_banner_info">
        <h2>Cursos</h2>
    </div>
</div>

<!-- services -->
<div id="ciencias-basicas" class="services two">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">CIENCIAS BÁSICAS</h3>
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <p align="justify">Todo lo que existe tiene pilares básicos para su desarrollo y la medicina no es la excepción, es por eso que CIENCIAS MEDIC en sus 4 años de experiencia pone a tu disposición los cursos más importantes de las CIENCIAS BÁSICAS para que el alumno de pregrado pueda aprender de manera sencilla y precisa cada tema con la mejor metodología de enseñanza y sobre todo con los mejores docentes que tú ya conoces.</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <ul>
                        <li><b>Anatomía</b></li>
                        <li><b>Embriología</b></li>
                        <li><b>Histología</b></li>
                        <li><b>Matemática Básica</b></li>
                        <li><b>Biología Molecular</b></li>
                    </ul>
                </div> 
                <div class="col-md-4">
                    <ul>
                        <li><b>Biofísica</b></li>
                        <li><b>Fisiología</b></li>
                        <li><b>Bioquímica</b></li>
                        <li><b>Inmunología</b></li>
                        <li><b>Farmacología</b></li>
                    </ul>
                </div> 
                <div class="col-md-4">
                    <ul>
                        <li><b>Microbiología</b></li>
                        <li><b>Parasitología</b></li>
                        <li><b>Patología</b></li>
                        <li><b>Fisiopatología</b></li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="wthree_services_grids">	
            <div class="col-md-12 wthree_services_grid_left">
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C"><i class="fa fa-book" aria-hidden="true"></i> PAQUETE IA
                        </p>
                        <p style="font-weight: bold; display:inline-block; color:#E11F0F"><i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 220.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 1er año, con intenciones de empezar a conocer las ciencias básicas antes de iniciar la universidad para poder desarrollar sus habilidades y culminar bien el 1er año.</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Biología Molecular y Genética</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Matemática Básica</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Biofísica</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jhons Ochoa Mendoza</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Angel Saravia Pachas</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Andrés Hernández Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Osmar Sulca Diaz</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Fabian Espino Triveño</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color:  #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IB
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 250.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 1er año de ciencias de la salud que desean conocer el cuerpo Humano de manera general y poder tener una visión general de la Anatomía, Histología y Embriología Humana.</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Anatomía</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Histología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Embriología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Anicama Hernandez (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juliana Aparcana Machado</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lucero Vilca Fernando (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Maycol Roque Mamani (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jesús Laos Cárdenas (T</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Felix Valle Echevarría (P)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Carmen Morales Quispe (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Yuri Huamaní Garay (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Luis Contreras Peñafiel (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jesús Poma Castillo (P)</li>                 
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IIA
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 360.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos de Medicina Humana del 2do año, es un curso Intensivo que te ayudará a conocer de manera precisa y didáctica cada parte del cuerpo humano, cómo se desarrolla y qué tejidos lo componen.
                        </p>	
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Anatomía</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Histología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Embriología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Anicama Hernandez (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lucero Vilca Fernando (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Maycol Roque Mamani (TyP)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jesús Laos Cárdenas (T</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Felix Valle Echevarría (P)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Carmen Morales Quispe (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Yuri Huamaní Garay (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Luis Contreras Peñafiel (T)</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jesús Poma Castillo (P)</li> 
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
           
            <div class="col-md-12 wthree_services_grid_left">
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IIB
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 310.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 2año de ciencias de la Salud para conocer el funcionamiento y la comunicación entre sistemas en el ser humano.
                        </p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Fisiología Humana</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Bioquímica</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Inmunología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juliana Aparcana Machado</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernandez Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juan Diaz Monge</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Arturo Ferrel Oliveira</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Frank Bellido León</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Verónica Purilla Bellido</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IIIA
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 290.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 3er año de ciencias de la salud que deseen adelantar los conocimientos en la relación fármaco – cuerpo – microorganismos.
                        </p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Farmacología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Microbiología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Parasitología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> María Martinez Garibay</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Frank Bellido León</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Gerson Maldonado Huayta</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Luis Gadea Peralta</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Jhonatan Sánchez Acuña</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IIIB
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 290.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Última parte de las ciencias básicas que permite conocer las alteraciones que ocasionan los agentes patógenos en el cuerpo y como estos cambios afectan la salud.
                        </p>	
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Patología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Fisiopatología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juliana Aparcana Machado</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Marcos Cabrera Pimentel</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Arturo Ferrel Oliveira</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Manuel ramos sardón </li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Antonio Felipa medina</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernandez Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Angel Saravia Pachas</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Osmar Sulca Diaz</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div id="ciencias-clinicas" class="services two">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">CIENCIAS CLÍNICAS</h3>
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <p align="justify">Todo es un ciclo en la vida nacer, vivir y morir; el siguiente paso después de aprender las ciencias básicas es las CIENCIAS CLÍNICAS en esta etapa muy importante aprenderás y aplicarás los conocimientos de básicas y sabrás cómo los sistemas funcionan desde un punto de vista INTEGRAL y qué patologías afectan a cada uno de ellos para decidir el mejor manejo y tratamiento del paciente. CIENCIAS MEDIC pone a tu alcance una serie de cursos dictados por los mejores médicos de toda la región.</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul>
                        <li><b>Cardiología</b></li>
                        <li><b>Neurología</b></li>
                        <li><b>Endocrinología</b></li>
                        <li><b>Neumología</b></li>
                    </ul>
                </div> 
                <div class="col-md-6">
                    <ul>
                        <li><b>Infectología</b></li>
                        <li><b>Gastroenterología</b></li>
                        <li><b>Nefrología</b></li>
                        <li><b>Tópicos Selectos</b></li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-12 wthree_services_grid_left">
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IVA
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i>Inversión: S/. 300.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> Semiología un pilar inicial que todo estudiante de ciencias de la salud debe de conocer para identificar los signos y síntomas, agruparlos en sindromes y llegar a uns presunción diagnóstica que es clave para el manejo de los pacientes.
                        </p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Semiología</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Radiología</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Anicama Hernández</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juan Diaz Monge</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Arturo Ferrel Oliveira</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Marcos Cabrera Pimentel</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernandez Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Osmar Sulca Diaz</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="col-md-12 wthree_services_grid_left">
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PAQUETE IVB
                        </p>
                        <p style="font-weight: bold; display:inline-block; color:#E11F0F">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 350.00
                        </p>
                        <p align="justify" style="margin-top: -25px !important"> En esta parte se desarrollarán los capítulos de Cardiología, Neurología, Neumología, Nefrología, Endocrinología, Infectología, Gastroenterología, así como tópicos selectos de Hematología y Reumatología.
                        </p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Clínica A</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Clínica B</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Anicama Hernández</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juliana Aparcana Machado</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juan Diaz Monge</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Arturo Ferrel Oliveira</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Marcos Cabrera Pimentel</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Antonio Felipa Medina</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Manuel Ramos Sardón</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernandez Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Osmar Sulca Diaz</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Saravia Pachas</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatricularse">Matricularse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->

@Html.Partial("_MatricularsePaquete")



