
@{
    ViewBag.Title = "Ayacucho";
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/css/swipebox.css">
}
@section scripts
{
    <script src="~/Scripts/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
            $(".swipebox").swipebox();
        });
    </script>
}

<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Cursos</h2>
    </div>
</div>

<div class="services two">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">CIENCIAS BÁSICAS – OEF</h3>
        <p style="margin-top: 10px; text-align: center; color: red; font-size: 20px;">Inversión : S/. --</p>
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <p align="justify">En OEF podrás conocer a detalle las ciencias básicas de manera integrada con los principales cursos como Anatomía, Histología, Embriología y Fisiología; este curso diseñado por nosotros para los estudiantes que van a cursar el 2do año de Medicina y para aquellos que deseen conocer mejor esta nueva metodología de enseñanza, los capítulos que dictarán son:</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul>
                        <li><b>NEUROLOGÍA</b></li>
                        <li><b>CARDIOLOGÍA</b></li>
                        <li><b>DIGESTIVO</b></li>
                        <li><b>RESPIRATORIO</b></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><b>ENDOCRINOLOGÍA</b></li>
                        <li><b>RENAL</b></li>
                        <li><b>OSTEOMUSCULAR</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact" style="margin-top: -20%;">
    <div class="container">
        <div class="inner_w3l_agile_grids-gal">
            <div class="col-md-12 gallery-grid gallery1">
                <a href="~/Content/images/sede_ayacucho.png" class="swipebox">
                    <img src="~/Content/images/sede_ayacucho.png" class="img-responsive" alt="/">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="services two">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">FISIOPATOLOGÍA Y FARMACOLOGÍA</h3>
        <p style="margin-top: 10px; text-align: center; color: red; font-size: 20px;">Inversión : S/. --</p>
        <br/>
        <br/>
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul>
                        <li><b>GENERALIDADES</b></li>
                        <li><b>CARDIOLOGÍA</b></li>
                        <li><b>NEUROLOGÍA</b></li>
                        <li><b>DIGESTIVO</b></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><b>RESPIRATORIO</b></li>
                        <li><b>ENDOCRINOLOGÍA</b></li>
                        <li><b>RENAL</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services two" style="margin-top: -10%;">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">SEMIOLOGÍA</h3>
        <p style="margin-top: 10px; text-align: center; color: red; font-size: 20px;">Inversión : S/. --</p>
        <br/>
        <br/>
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul>
                        <li><b>HISTORIA CLÍNICA Y SINDROME MÁS IMPORTANTES</b></li>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE RESPIRATORIO</b></li>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE CARDIOLOGIA</b></li>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE DIGESTIVO</b></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE RENAL</b></li>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE ENDOCRINO</b></li>
                        <li><b>TOPICO SELECTO TIPO BANQUEO DE TEMAS PUNTUALES DE NEUROLOGIA</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
