@{
    ViewBag.Title = "Staff";
}

<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Los mejores profesionales del sector</h2>
    </div>
</div>

<div class="services two">
    <div class="container">
        <h3 style="text-align: center">Doctores con la mayor experiencia de la región</h3>
        <div class="wthree_services_grids">
            <div class="col-md-12 wthree_services_grid_right">
                <div class="col-md-4 agileits_w3layouts_service_grid">
                    <div class="agile_service_grd">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h4>Formacion constante</h4>
                </div>
                <div class="col-md-4 agileits_w3layouts_service_grid">
                    <div class="agile_service_grd">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h4>Compromiso con la excelencia</h4>
                </div>
                <div class="col-md-4 agileits_w3layouts_service_grid">
                    <div class="agile_service_grd">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h4>Innovacion</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services two" style="margin-top: -100px;">
    <div class="container">
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="200" src="~/Content/images/staff/dR. ANGEL ANICAMA.jpg" alt=""/>
                    </div>
                    <h4>Ángel Anicama Hernandez</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Neurólogo</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Regional de Ica</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Decano del Colegio Médico de Ica</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Past Presidente de Grupo Strok del Perú</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="200" src="~/Content/images/staff/Juan Diaz Monge.jpg" alt="" />
                    </div>
                    <h4>Juan Carlos Diaz <br/>Monge</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Internista</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Regional de Ica</p>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Infectólogo </p>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Presidente del Comité de ética del HRI</p>
                </div>
            </div>
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="300" width="300" src="~/Content/images/staff/DR. MARCOS CABRERA.jpg" alt="" />
                    </div>
                    <h4>Marcos Cabrera Pimentel</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cardiologo</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Regional de Ica</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="210" width="210" src="~/Content/images/staff/DR. ARTURO FERREL.jpg" alt="" />
                    </div>
                    <h4>Arturo Ferrel <br/>Oliveira</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Gastroenterólogo</p>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Pasantía en la Unidad de Hígado Hosp. 12 de Octubre de Madrid</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="400" width="300" src="~/Content/images/staff/DR. LICLa.jpg" alt=""/>
                    </div>
                    <h4>Pablo Licla <br/>Inca</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cirujano</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Doc. Ciencias Básicas en Medicina de la UNSCH</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="400" width="300" src="~/Content/images/staff/Pedro Figueroa.jpg" alt=""/>
                    </div>
                    <h4>Pedro Hernández Figueroa</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cirujano</p>
                </div>
            </div>
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="150" width="150" src="~/Content/images/staff/osmar sulca diaz.jpg" alt="" />
                    </div>
                    <h4>Osmar Sulca <br />Diaz</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cirujano</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                                <div>
                        <img class="img-responsive img-thumbnail" src="~/Content/images/staff/DRA. JULIANA APARCANA.jpg" alt="" />
                    </div>
                    <h4>Juliana Aparcana Machado</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Neurólogo</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Regional de Ica</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" src="~/Content/images/staff/Agustin Moron.jpg" alt=""/>
                    </div>
                   <h4> Agustin Moron Buleje </h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Radiologo</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Doc. De Radiología de la Facultad DAC</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                     <img class="img-responsive img-thumbnail" height="170" width="170" src="~/Content/images/staff/Maria Martinez.jpg" alt="" /> 
                    </div>
                    <h4>María Martinez Garibay</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Biologa</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Doc. Microbiología de Facultad de Medicina de la UNICA</p>
                </div>
            </div>
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                       <img class="img-responsive img-thumbnail"src="~/Content/images/staff/Johns Ochoa.jpg" alt="" />
                    </div>
                    <h4>Jhons Ochoa Mendoza</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Biologo</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail"height="170" width="170" src="~/Content/images/staff/Frank bellido.jpg" alt="" />
                    </div>
                    <h4>Frank Bellido León</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Químico Farmacéutico</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Doc. Fisiología Humana Facultad de Enfermería y Obstetricia - UNICA</p>
                </div>
            </div>
           <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt=""/>
                    </div>
                    <h4>Antonio Felipa Medina</h4>
                      <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Internista</p>
                    <p><i class="fa fa-university" aria-hidden="true"></i> Hospital Regional de Ica</p>         
                 </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                       <div>
                        <img class="img-responsive img-thumbnail" height="300" width="400" src="~/Content/images/staff/FELIX VALLE.jpg" alt="" />
                    </div>
                    <h4>Felix Valle <br />Echevarria</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Tec. Histología</p>
                </div>
            </div>
                 <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="200" src="~/Content/images/staff/Manuel Ramos Sardón.jpg" alt="" />
                    </div>
                    <h4>Manuel Ramos Sardón</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Internista</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Augusto Hernandez Mendoza</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Zacarías Correa Valdivia de Huancavelica</p>
                </div> 
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                         <img class="img-responsive img-thumbnail" height="150" width="150" src="~/Content/images/staff/Gustavo Oriundo.jpg" alt="" />
                    </div>
                <h4>-Gustavo Uriondo Oré</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> MR Cirugía General</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Alberto Sabogal Sologuren</p>
                </div>
            </div>
       <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                         <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt="" />
                    </div>
                    <h4>Eloy Vivanco Contreras</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i>Medico Radiologo</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i> Hospital Regional de Ica</p>
                    <p><i class="fa fa-suitcase" aria-hidden="true"></i>Coordinador de la Escuela de Post. Grado de Radiología de la UNICA</p>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i>Doc. De la Facultad de Medicina USJB</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail"height="200" width="215" src="~/Content/images/staff/LUIS GADEA.jpg" alt="" />
                    </div>
                    <h4>Luis Gadea Peralta </h4>
                </div>
            </div>
                <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail"height="200" width="210" src="~/Content/images/staff/LORENA MATEO.jpg" alt="" />
                    </div>
                    <h4>Lorena Salvador Mateo</h4>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                         <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt="" />
                    </div>
                    <h4>Camilo Torres Romucho</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cirujano</p>
                </div>
            </div>
        <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                      <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt="" />
                    </div>
                    <h4>Ángel Saravia Pachas</h4>
                   <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Médico Cirujano</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="200" src="~/Content/images/staff/maycol roque.jpg" alt="" />
                    </div>
                    <h4>Maycol Roque Mamani</h4>
                </div>
            </div>
                <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="280"src="~/Content/images/staff/VERONICA PURILLA.jpg" alt="" />
                    </div>
                    <h4>Veronica Purilla Bellido</h4>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                         <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt="" />
                    </div>
                    <h4></h4>
                </div>
            </div>
      <div class="clearfix"> </div>
        </div>
        <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail"height="200" width="220" src="~/Content/images/staff/carmen morales.jpg" alt=""/>
                    </div>
                    <h4>Carmen Morales Quispe</h4>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" width="160" src="~/Content/images/staff/HUGO IPARRAGUIRRE.jpg" alt="" />
                    </div>
                    <h4>Hugo Iparraguirre</h4>
                </div>
            </div>
   <div class="col-md-6 wthree_services_grid_right">
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" height="200" <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt=""/>
                    </div>
                   <h4>Andrés Hernández Figueroa</h4>
                    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> l</p>
                </div>
                <div class="col-md-6 agileits_w3layouts_service_grid">
                    <div>
                        <img class="img-responsive img-thumbnail" src="~/Content/images/photo_default.png" alt="" />
                    </div>
                   <h4> </h4>
                </div>
                </div>
               </div>
               </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->


























































