
@{
    ViewBag.Title = "_Matricula";
}

<div class="services two">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">@ViewBag.MatriculaResultTaller</h3>
    </div>
</div>

