
@{
    ViewBag.Title = "Index";
}

<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Talleres</h2>
    </div>
</div>

<div class="services two">
    <div class="container">
        <div class="col-md-12 wthree_services_grid_left" style="margin-bottom: 50px;">
            <div class="col-md-12">
                <p align="justify">Los talleres son tópicos de corta duración los cuales tienen el propósito de adiestrar al estudiante de ciencias de la salud para que puedan afrontar los casos que se le presenten durante el pregrado hospitalario, llegar a los cursos de Clínicas, Cirugía y al Internado con los conocimientos procedimentales óptimos y poder desempeñarse de la mejor manera frente a sus pacientes.</p>
            </div>
        </div>
        <div class="wthree_services_grids">	
            <div class="col-md-12 wthree_services_grid_left">
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C"><i class="fa fa-book" aria-hidden="true"></i> PACK I
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #12319C"><i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 250.00
                        </p>
                        @*<p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 1er año, con intenciones de empezar a conocer las ciencias básicas antes de iniciar la universidad para poder desarrollar sus habilidades y culminar bien el 1er año.</p>*@
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de Nudos, Suturas y Cirugía Menor</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de Procedimientos en Cirugía</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernández Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Osmar Sulca Díaz</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ángel Saravia Pachas</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Gustavo Uriondo Oré</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatriTalleres">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PACK II
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #12319C">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 250.00
                        </p>
                        @*<p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos del 1er año de ciencias de la salud que desean conocer el cuerpo Humano de manera general y poder tener una visión general de la Anatomía, Histología y Embriología Humana.</p>*@
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de EKG Básico y Avanzado</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de Laboratorio Clínico</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Marcos Cabrera Pimentel</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Manuel Ramos Sardon</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernández Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>           
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatriTalleres">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="border: 5px solid #12319C;">
                    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <p style="font-weight: bold; display:inline-block;margin-right:30%; color: #12319C">
                            <i class="fa fa-book" aria-hidden="true"></i> PACK III
                        </p>
                        <p style="font-weight: bold; display:inline-block; color: #12319C">
                            <i class="fa fa-money" aria-hidden="true"></i> Inversión: S/. 250.00
                        </p>
                        @*<p align="justify" style="margin-top: -25px !important"> Dirigido a los alumnos de Medicina Humana del 2do año, es un curso Intensivo que te ayudará a conocer de manera precisa y didáctica cada parte del cuerpo humano, cómo se desarrolla y qué tejidos lo componen.
                </p>*@	
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de Interpretación de AGA – electrolitos y Antibiograma</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Taller de Procedimientos en Medicina Interna</li>
                        </ul>
                        <p>Staff de docentes:</p>
                        <ul style="margin-left: 50px;">
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Juan Diaz Monge</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Manuel Ramos Sardon</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pedro Hernández Figueroa</li>
                            <li style="list-style-type: none;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Pablo Licla Inca</li>
                        </ul>
                        <br/>
                        <div align="right">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#ModalMatriTalleres">Matricularse</a>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

@Html.Partial("_MatriculaTaller")